@model IEnumerable<ticketbus.WEB.Models.NewsViewModel>

<hr />
<h3>Новости</h3>

<table>
@foreach (var item in Model)
{
   <tr>
       <td>@item.Date.ToShortDateString()</td>
       <td>@item.Text</td>
   </tr>
}
</table>
