@model IEnumerable<ticketbus.WEB.Models.RouteViewModel>

<table id="routes-table">
    <tr>
        <th>Пункт отправления</th>
        <th>Пункт прибытия</th>
        <th>Дни отправления</th>
    </tr>
    <tr>
        <td>Брест</td>
        <td>Минск</td>
        <td>Пн. Ср. Чт. Сб. Вс.</td>
    </tr>
    <tr>
        <td>Минск</td>
        <td>Брест</td>
        <td>Пн. Ср. Чт. Сб. Вс.</td>
    </tr>
    <tr>
        <td>Брест</td>
        <td>Беловежская пуща</td>
        <td>Пн. Ср. Чт. Сб. Вс.</td>
    </tr>
    <tr>
        <td>Беловежский</td>
        <td>Минск</td>
        <td>Пн. Ср. Чт. Сб. Вс.</td>
    </tr>
    <tr>
        <td>Брест</td>
        <td>Вельямовичи</td>
        <td>Пн. Ср. Чт. Сб. Вс.</td>
    </tr>
    <tr>
        <td>Брест</td>
        <td>Высокое</td>
        <td>Пн. Ср. Чт. Сб. Вс.</td>
    </tr>
    <tr>
        <td>Брест</td>
        <td>Домачево</td>
        <td>Пн. Ср. Чт. Сб. Вс.</td>
    </tr>
    <tr>
        <td>Брест</td>
        <td>Жабинка</td>
        <td>Пн. Ср. Чт. Сб. Вс.</td>
    </tr>
</table>