<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
</head>
<body>
    <h1>Система продажи билетов на автобусы</h1>
    @using (Html.BeginForm("Login", "Account"))
    {
        <p>Логин</p>
        @Html.TextBox("login")
        <input type="submit" value="Ну давай" />
    }
    <br />
    @RenderBody()
</body>
</html>
