<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="~/Scripts/ShowLoginForm.js" type="text/javascript" defer></script>
    <script src="~/Scripts/ScriptsForOrders.js" type="text/javascript" defer></script>
    <link href="~/Content/MainPage.css" rel="stylesheet" />
    <link href="~/Content/Popup.css" rel="stylesheet" />   
    </head>
<body>
       <div class="header">
       <span>Система продажи билетов на автобусы</span>
           @Html.Action("GreetingBlock")
       <div class="header-buttons">
           <input class="button-in-header" id="SignInButton" type="button" value="Вход" />
           <input class="button-in-header" id ="RegistrationButton" type="button" value="Регистрация" />
           <input class="button-in-header" id="OrderHistoryButton" type="button" value="История заказов" onclick="" />
           <input class="button-in-header" id="LogOffButton" type="button" value="Выход" onclick="location.href='@Url.Action("LogOff","Account")'" />
       </div>
   </div>        
    @RenderBody()



    
        
   
    <div class ="grey-overlay" id="over-lay">@{Html.RenderPartial("../Account/LoginForm");}</div>        
       <div id="white-overlay"><img id="overlay-image" src="~/Content/4.gif" /></div>
    
</body>
</html>
