<link href="~/Content/StylesForBusScheme.css" rel="stylesheet" />

<div class="bus-container">

    <div class="seat-block first">1</div>
    <div class="seat-block">5</div>
    <div class="seat-block">9</div>
    <div class="seat-block">13</div>
    <div class="seat-block">17</div>
    <div class="seat-block">21</div>
    <div class="seat-block">25</div>
    <div class="seat-block">29</div>
    <div class="seat-block">33</div>
    <div class="seat-block">37</div>

    <div class="seat-block first">2</div>
    <div class="seat-block">6</div>
    <div class="seat-block">10</div>
    <div class="seat-block">14</div>
    <div class="seat-block">18</div>
    <div class="seat-block">22</div>
    <div class="seat-block">26</div>
    <div class="seat-block">30</div>
    <div class="seat-block">34</div>
    <div class="seat-block">38</div>

    <div class="space"></div>

    <div class="seat-block first">3</div>
    <div class="seat-block">7</div>
    <div class="seat-block">11</div>
    <div class="seat-block">15</div>
    <div class="seat-block">19</div>
    <div class="seat-block">23</div>
    <div class="seat-block">27</div>
    <div class="seat-block">31</div>
    <div class="seat-block">35</div>
    <div class="seat-block">39</div>

    <div class="seat-block first">4</div>
    <div class="seat-block">8</div>
    <div class="seat-block">12</div>
    <div class="seat-block">16</div>
    <div class="seat-block">20</div>
    <div class="seat-block">24</div>
    <div class="seat-block">28</div>
    <div class="seat-block">32</div>
    <div class="seat-block">36</div>
    <div class="seat-block">40</div>
</div>