<link href="~/Content/PaymentOptions.css" rel="stylesheet" />

<div class="payment-container">
    <h2>Cпособ оплаты:</h2>
    <div class="payment-block"><div class="image-block paymentcard"></div><div class="text-block">Visa/MasterCard</div></div>
    <div class="payment-block"><div class="image-block webmoney"></div><div class="text-block">WebMoney</div></div>
    <div class="payment-block"><div class="image-block qiwi"></div><div class="text-block">QIWI</div></div>
</div>
