<link href="~/Content/SuccessOrder.css" rel="stylesheet" />

    <div class="success-block">
        <span class="text-block">Супер! Заказ принят. Нажми "ОК" для возврата на главную страницу.</span>
        <a href="/Home/Index" class="mainwindow-link">ОК</a>
    </div>

